{% extends '@IcsocUI/layout.html.twig' %}

{% block center %}
    <button class="easyui-linkbutton"><i class="fa fa-music"></i> Add</button>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'fa fa-music'">Add</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">Add</a>
{% endblock %}